.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: var(--espaco-8);
    position: fixed;
    bottom: 0;
    width: 420px;
    height: 60px;
    border-top: 1px solid var(--tinta-2);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-superficie);
    padding-bottom: var(--espaco-16);
    gap:var(--espaco-24);
}
.navbar-item{
    text-decoration: none;
    color: var(--tinta-1);
}

.navbar-item__icon {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 42px;
    font-size: 1.2rem;
    gap: 5px;
}

.navbar-item:hover{
    border-top: var(--espaco-4) solid var(--cor-primaria);
}

